body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}

h1 {
font-size: 36px;
text-align: center;
margin-top: 50px;
}

.container {
margin: 0 auto;
}

p {
font-size: 18px;
line-height: 1.5;
margin-top: 20px;
}

.header {
background-color: #f2f2f2;
padding: 20px;
text-align: center;
}

.navbar {
justify-content: space-between;
align-items: center;
color: #fff;
}

.navbar a {
display: block;
width: 100%;
text-align: center;
}

.main-section {
display: flex;
padding: 20px;
}

.sidebar {
width: 20%;
background-color: lightblue;
text-align: center;
padding: 20px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-content {
    text-align: center;
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px; 
}

.footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 20px;
}